html {
  background-image: linear-gradient(#c9fab9, white);
  height: 100%;
}
h2,
h1 {
  font: italic 32px;
  text-align: center;
}

.container {
  display: flex;
}
p {
  background-color: rgb(86, 222, 74);
}
h3 {
  display: block;
  width: 100%;
}
.containerAboutandLink {
  display: flex;
  flex-direction: column;
}
