p{
    color: black;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    background-color: bisque;
}

#space{
    width: 75%;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
}
.containerButtom{
    display: flex;
}
#c{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
#c p{
    color: black;
    font: bold 20px sans-serif;
}